<html ng-app = "myApp">

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Catálogo de Ofertas</title>
    <link rel="stylesheet" href="/stylesheets/foundation.css" />
    <link rel="stylesheet" href="/stylesheets/app.css" />
    <link rel="stylesheet" href="/stylesheets/navbar.css" />
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
  </head>

  <body style="background-color: #f2f2f2;">

    <script type='text/javascript'>
      var isAdmin = "{{ isAdmin }}";
    </script>

    <nav class="top-bar" data-topbar>
     
      <section class="top-bar-section">
        <ul class="vertical medium-horizontal menu">
          <li class="divider"></li>
          <li class="Apr">
          <a href="/"><img src="/img/logo_less.png"  style='width: 36px'/></a>
          </li>
          <li class="divider"></li>
          <li><a href="/RelacionTutoria">RELACIÓN TUTORIA</a>
          <li class="divider"></li>
          <li><a href="/MapeoVirtual">MAPEO VIRTUAL</a>
          <li class="divider"></li>
          <li><a href="/CatalogoDeOfertas" class = "inactiveLink">CATÁLOGO DE OFERTAS</a>
          <li class="divider"></li>
          <li><a href="/CompartirTemas">COMPARTIR TEMAS</a>
          <li class="divider"></li>
          <li><a href="/CompartirExperiencias">COMPARTIR EXPERIENCIAS</a>
          <li class="divider"></li>
        </ul>
      </section>
    </nav>
    <div class="main">
      <div class="header" style="height:40px ;padding: 0px; width:100%; margin: auto">
        <div class="blueBar" style="float: left; height:100%;"></div>
        <p style="margin-bottom: 0px; padding-top: 25px; padding-right: 140px"> Catálogo de Ofertas </p>
        </div>
      <div class="tabordion">
        
        <section id="section1">
          <input type="radio" name="sections" id="option1" checked>
          <label for="option1">Español</label>
          <article ng-controller="EspController">
            
            <div class="grids">
              <ul>
                <li ng-repeat="oferta in ofertas" style="float: left; margin-right: 24px; margin-top: 24px; box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);">
                  <app-info info="oferta"></app-info>
                  <!-- <a class="btn" ng-click="remove(oferta)">Delete</a> -->
                </li>
              </ul>
            </div>

            <div class="blueBar" style="height: {{ blueheight }}px; position: relative; top: -16px; left: -160px"></div>

            <div class="footer" style="position: relative; left: -145px;">
              <p style="font-face: Avenir-Roman; color: #f25d53; margin-bottom:0px;"> <img src="/img/logo2.png" style="width: 50px; height: 16px; margin-bottom: 5px; margin-right: 5px;"/>Aprender Con Interés A.C. </p>
              <p style="font-size: 10px;font-face: Helvetica-Light;">© 2016 Aprender Con Interes. All rights reserved.</p>
            </div>

          </article>
        </section>
    
        <section id="section2">
          <input type="radio" name="sections" id="option2">
          <label for="option2">Matemáticas</label>
          <article ng-controller="MatController">
            
            <div class="grids">
              <ul>
                <li ng-repeat="oferta in ofertas" style="float: left; margin-right: 24px; margin-top: 24px; box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);">
                  <app-info info="oferta"></app-info>
                  <!-- <a class="btn" ng-click="remove(oferta)">Delete</a> -->
                </li>
              </ul>
            </div>

            <div class="blueBar" style="height: {{ blueheight }}px; position: relative; top: -16px; left: -160px"></div>

            <div class="footer" style="position: relative; left: -145px;">
              <p style="font-face: Avenir-Roman; color: #f25d53; margin-bottom:0px;"> <img src="/img/logo2.png" style="width: 50px; height: 16px; margin-bottom: 5px; margin-right: 5px;"/>Aprender Con Interés A.C. </p>
              <p style="font-size: 10px;font-face: Helvetica-Light;">© 2016 Aprender Con Interes. All rights reserved.</p>
            </div>

          </article>
        </section>

        <section id="section3">
          <input type="radio" name="sections" id="option3">
          <label for="option3">Ciencias</label>
          <article ng-controller="CieController">
            <div class="grids">
              <ul>
                <li ng-repeat="oferta in ofertas" style="float: left; margin-right: 24px; margin-top: 24px; box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);">

                  <app-info info="oferta"></app-info>
                  <!-- <a class="btn" ng-click="remove(oferta)">Delete</a> -->
                </li>
              </ul>
            </div>

            <div class="blueBar" style="height: {{ blueheight }}px; position: relative; top: -16px; left: -160px"></div>

            <div class="footer" style="position: relative; left: -145px;">
              <p style="font-face: Avenir-Roman; color: #f25d53; margin-bottom:0px;"> <img src="/img/logo2.png" style="width: 50px; height: 16px; margin-bottom: 5px; margin-right: 5px;"/>Aprender Con Interés A.C. </p>
              <p style="font-size: 10px;font-face: Helvetica-Light;">© 2016 Aprender Con Interes. All rights reserved.</p>
            </div>

          </article>
        </section>
        <section id="section4">
          <input type="radio" name="sections" id="option4">
          <label for="option4">Historia</label>
          <article ng-controller="HisController">
            <div class="grids">
              <ul>
                <li ng-repeat="oferta in ofertas" style="float: left; margin-right: 24px; margin-top: 24px; box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);">
                  <app-info info="oferta"></app-info>
                  <!-- <a class="btn" ng-click="remove(oferta)">Delete</a> -->
                </li>
              </ul>
            </div>

            <div class="blueBar" style="height: {{ blueheight }}px; position: relative; top: -16px; left: -160px"></div>

            <div class="footer" style="position: relative; left: -145px;">
              <p style="font-face: Avenir-Roman; color: #f25d53; margin-bottom:0px;"> <img src="/img/logo2.png" style="width: 50px; height: 16px; margin-bottom: 5px; margin-right: 5px;"/>Aprender Con Interés A.C. </p>
              <p style="font-size: 10px;font-face: Helvetica-Light;">© 2016 Aprender Con Interes. All rights reserved.</p>
            </div>

          </article>
        </section>
    
      </div>
    </div>

    <!-- Modules -->
    <script src="app/app.js"></script>

    <!-- Controllers -->
    <script src="app/Controllers/EspController.js"></script>
    <script src="app/Controllers/MatController.js"></script>
    <script src="app/Controllers/CieController.js"></script>
    <script src="app/Controllers/HisController.js"></script>

    <!-- Directives -->
    <script src="app/Grid/grid.js"></script>
    
  </body>
</html>