<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mapeo Virtual</title>
    <link rel="stylesheet" href="/stylesheets/foundation.css" />
    <link rel="stylesheet" href="/stylesheets/navbar.css" />
    <link rel="stylesheet" href="/stylesheets/app.css" />
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
  </head>

  <body ng-app = "myApp" style="background-color: #f2f2f2;">


    <script type='text/javascript'>
      var isAdmin = "{{ isAdmin }}";
    </script>


    <nav class="top-bar" data-topbar>
      <section class="top-bar-section">
        <ul class="vertical medium-horizontal menu">
          <li class="divider"></li>
          <li class="Apr">
          <a href="/"><img src="/img/logo_less.png" /></a>
          </li>
          <li class="divider"></li>
          <li><a href="RelacionTutoria">RELACIÓN TUTORIA</a>
          <li class="divider"></li>
          <li><a href="/MapeoVirtual" class = "inactiveLink">MAPEO VIRTUAL</a>
          <li class="divider"></li>
          <li><a href="/CatalogoDeOfertas">CATÁLOGO DE OFERTAS</a>
          <li class="divider"></li>
          <li><a href="/CompartirTemas">COMPARTIR TEMAS</a>
          <li class="divider"></li>
          <li><a href="/CompartirExperiencias">COMPARTIR EXPERIENCIAS</a>
          <li class="divider"></li>
        </ul>
      </section>
    </nav>

    <div class="main">

      <div class="header" style="padding-bottom:0">
        Mapeo Virtual
      </div>

      <div class="dropdown">
        <button onclick="myFunction()" class="dropbtn">Añadirse al Mapa</button>
        <div id="myDropdown" class="dropdown-content">
          <div class="row">
            <div class="medium-6 medium-centered large-4 large-centered columns" style="margin: 15px; width:300px">

              <form action="javascript: postContactToGoogle()" id="add" target="_self" onsubmit="" style="width: 300px;">
                  <div class="row column log-in-form" style="margin-top: 10px">
                    <label>Nombre
                        <input type="text" name="name">
                    </label>
                    <label>Correo Electrónico
                        <input type="text" name="email">
                    </label>
                    <label>Puesto
                        <input type="text" name="position">
                    </label>
                    <label>Nombre de la escuela
                        <input type="text" name="schoolName">
                    </label>
                    <label>Dirección de la escuela
                        <input type="text" name="address">
                    </label>
                    <label>C.C.T.
                        <input type="text" name="CCT">
                    </label>
                    <label>Cuántos años llevan con la tutoría
                        <input type="text" name="years">
                    </label>
                    <p><input type="submit" class="button expanded" value="Añadirse" style="width: 100px"></input></p> 
                  </div>
              </form>

            </div>
        </div>
        </div>
      </div>


      <div style="text-align:center;">
        <iframe src="https://www.google.com/maps/d/u/0/embed?mid=zeqaYhvsiN2c.kIGvkBMiGkDs" width="924" height="600"></iframe>
      </div>
<!--
      <iframe src="https://docs.google.com/forms/d/1QfeyHiYV9ok-tl92GImsoGASU1dlqG2lhsw_plRCZcE/viewform?embedded=true" width="964" height="1200" style="margin:30px">Loading...</iframe>
-->

    <div class="footer">
      <p style="font-face: Avenir-Roman; color: #f25d53; margin-bottom:0px;"> <img src="/img/logo2.png" style="width: 50px; height: 16px; margin-bottom: 5px; margin-right: 5px;"/>Aprender Con Interés A.C. </p>
      <p style="font-size: 10px;font-face: Helvetica-Light;">© 2016 Aprender Con Interes. All rights reserved.</p>
    </div>

    </div>

    <script>
      /* When the user clicks on the button, 
      toggle between hiding and showing the dropdown content */
      function myFunction() {
          document.getElementById("myDropdown").classList.toggle("show");
      }

      // Close the dropdown menu if the user clicks outside of it
      window.onclick = function(event) {
        if (!event.target.matches('.dropbtn')) {

          var dropdowns = document.getElementsByClassName("dropdown-content");
          var i;
          for (i = 0; i < dropdowns.length; i++) {
            var openDropdown = dropdowns[i];
            if (openDropdown.classList.contains('show')) {
              openDropdown.classList.remove('show');
            }
          }
        }
      }
    </script>

    <script type="text/javascript">
      function validateEmail(email) {
          var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
          return re.test(email);
      }"
      function postContactToGoogle(){
          var name = $j('#name').val();
          var email = $j('#email').val();
          var position = $j('#position').val();
          var schoolName = $j('#schoolName').val();
          var address = $j('#address').val();
          var CCT = $j('#CCT').val();
          var years = $j('#years').val();
          if ((name !== "") && (email !== "") && ((feed !== "") && (validateEmail(email)))) {
              $j.ajax({
                  url: "https://docs.google.com/yourFormURL/formResponse",
                  data: {"entry.1" : name, "entry.3" : email, "entry.4": feed},
                  type: "POST",
                  dataType: "xml",
                  statusCode: {
                      0: function (){
   
                          $j('#name').val("");
                          $j('#email').val("");
                          $j('#feed').val("");
                          //Success message
                      },
                      200: function (){
                          $j('#name').val("");
                          $j('#email').val("");
                          $j('#feed').val("");
                          //Success Message
                      }
                  }
              });
          }
          else {
              //Error message
          }
      }
    </script>
   

    <!-- Modules -->
    <script src="app/app.js"></script>

    <!-- Controllers -->
    <script src="app/MainController.js"></script>

    <!-- Directives -->
    <script src="app/navbar/navbar.js"></script>

  </body>
</html>