<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Relacion Tutoria</title>
    <link rel="stylesheet" href="/stylesheets/foundation.css" />
    <link rel="stylesheet" href="/stylesheets/navbar.css" />
    <link rel="stylesheet" href="/stylesheets/app.css" />
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
  </head>

  <body ng-app = "myApp">


    <script type='text/javascript'>
      var isAdmin = "{{ isAdmin }}";
    </script>


    <nav class="top-bar" data-topbar>
      <section class="top-bar-section">
        <ul class="vertical medium-horizontal menu">
          <li class="divider"></li>
          <li class="Apr">
          <a href="/"><img src="/img/logo_less.png" /></a>
          </li>
          <li class="divider"></li>
          <li><a href="RelacionTutoria">RELACIÓN TUTORIA</a>
          <li class="divider"></li>
          <li><a href="/MapeoVirtual" class = "inactiveLink">MAPEO VIRTUAL</a>
          <li class="divider"></li>
          <li><a href="/CatalogoDeOfertas">CATÁLOGO DE OFERTAS</a>
          <li class="divider"></li>
          <li><a href="/CompartirTemas">COMPARTIR TEMAS</a>
          <li class="divider"></li>
          <li><a href="/CompartirExperiencias">COMPARTIR EXPERIENCIAS</a>
          <li class="divider"></li>
        </ul>
      </section>
    </nav>

    <div class="main">

      <div class="header">
        Mapeo Virtual
      </div>

      <div style="text-align:center">
      <iframe src="https://www.google.com/maps/d/u/0/embed?mid=zeqaYhvsiN2c.kIGvkBMiGkDs" width=90% height="480"></iframe>
    </div>
      <div class="header">
        Google form goes here!
      </div>
    </div>

   

    <!-- Modules -->
    <script src="app/app.js"></script>

    <!-- Controllers -->
    <script src="app/MainController.js"></script>

    <!-- Directives -->
    <script src="app/navbar/navbar.js"></script>

  </body>
</html>