<html class="no-js" lang="en">

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Upload</title>
    <link rel="stylesheet" href="/stylesheets/foundation.css" />
    <link rel="stylesheet" href="/stylesheets/app.css" />
  </head>

  <body style="background-color: #f2f2f2">


    <div class="row">
        <div class="medium-5 medium-centered large-5 large-centered columns">

            <form id="upload" action="/upload" method="POST" enctype="multipart/form-data">
                <div class="row column log-in-form" style="margin: 25px">
                    <h4 class="text-center">Upload a PDF!</h4>
                    <label>Title
                        <input type="text" name="title" placeholder="Teorema de Pitágoras">
                    </label>
                    <label>Description (2-3 Sentences)
                        <textarea name="descript" rows="4" placeholder="Este tema propone estudiar la relación constante entre los lados de cualquier triángulo rectángulo a través de las culturas de China, Mesopotamia, Egipto y La India."></textarea>
                    </label>
                    <label>Competencias
                        <textarea name="comps" rows="2" placeholder="Leer con sentido, Teorema de Pitágoras, Orígenes de la geometría"></textarea>
                    </label>
                    <label>Temas Relacionados
                        <textarea name="temas" rows="2" placeholder="Los Carritos, El bikini, ¿Quién inventó la montaña rusa?"></textarea>
                    </label>
                    <label> Category
                        <select name="Cont" form="upload">
                            <option value="Esp">Español</option>
                            <option value="Mat">Matemáticas</option>
                            <option value="Cie">Ciencias</option>
                            <option value="His">Historia</option>
                        </select>
                    </label>
                    <label> Choose PDF
                        <input type="file" name="pdf"> 
                    </label>
                    <p><input type="submit" class="button expanded" value="Submit"></input></p> 
                </div>
            </form>

        </div>
    </div>

</body>
</html>