<form id="upload" action="/upload" method="POST" enctype="multipart/form-data">
    <p>Title:
        <input type="text" name="title">
    </p>
    <p>Description (1-2 sentences):
   		<input type="text" name="descript">
   	</p>
   	<p>
    Competencias (not implemented, don't bother):
    	<input type="text" name="competencias">
    </p>
    <p> Temas (not implemented):
	<input type="text" name="temas">
	</p>
	<p> Which section in catalogo (only Español right now):
	<select name="Cont" form="upload">
 		<option value="Esp">Español</option>
    <option value="Mat">Matemáticas</option>
    <option value="Cie">Ciencias</option>
    <option value="His">Historia</option>
	</select>
	</p>
    <p> Select an pdf to upload:
    <input type="file" name="pdf"> 
    <input type="submit" value="Upload pdf">
	</p>
</form>