<html class="no-js" lang="es">

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/img/logo_less.png" />
    <title>Upload</title>
    <link rel="stylesheet" href="stylesheets/foundation.css" />
    <link rel="stylesheet" href="stylesheets/app.css" />
    <link rel="stylesheet" href="stylesheets/navbar.css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap-filestyle.min.js"> </script>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-75871722-1', 'auto');
  ga('send', 'pageview');

</script>

  </head>

  <body style="background-color: #f2f2f2">
        <% currPage = 'admin' %>
        <% var isAdmin = true %>
        <% include partials/navbar %>

    <div class="main">

        <div style="width: 400px; margin: auto">

            <% if (status == 'noPDF') { %>
                <p class='header' style="color: red; margin: auto;">Seleccione un archivo</p>
            <% } %>

            <% if (status == 'success') { %>
                <p class='header' style="font-size: 30px; margin: auto;">El archivo se ha subido con éxito</p>
            <% } %>

            <form id="upload" action="/admin" method="POST" enctype="multipart/form-data">
                <div class="row column log-in-form" style="margin-top: 25px; position: relative;">
                    <h4 class="text-center">Subir un Tema</h4>
                    <a style="position: absolute; right: 16px; top: 3px" href="/archivos"><p>ver archivos</p></a>
                    <label>Nombre del tema
                        <input type="text" name="title" placeholder="Teorema de Pitágoras">
                    </label>
                    <label>Descripción (2-3 frases)
                        <textarea name="descript" rows="4" placeholder="Este tema propone estudiar la relación constante entre los lados de cualquier triángulo rectángulo a través de las culturas de China, Mesopotamia, Egipto y La India."></textarea>
                    </label>
                    <label>Competencias
                        <textarea name="comps" rows="2" placeholder="Leer con sentido, Teorema de Pitágoras, Orígenes de la geometría"></textarea>
                    </label>
                    <label>Temas Relacionados
                        <textarea name="temas" rows="2" placeholder="Los Carritos, El bikini, ¿Quién inventó la montaña rusa?"></textarea>
                    </label>
                    <label>Correo electrónico del experto
                        <input type="text" name="email" placeholder="ejemplo@aprenderconinteres.org">
                    </label>
                    <label style="margin-bottom: 15px"> Disciplina
                        <select name="Cont" form="upload">
                            <option value="Esp">Español</option>
                            <option value="Mat">Matemáticas</option>
                            <option value="Cie">Ciencias</option>
                            <option value="His">Historia</option>
                            <option value="Tex">Textos</option>
                        </select>
                    </label>
                    <label style="display: inline;">
                        <input type="file" class="filestyle" data-buttonText="Elija archivo" name="pdf" id="pdf" data-buttonName="button" data-iconName="glyphicon glyphicon-inbox" data-placeholder="Ningún file" style="display:inline;"> 
                    </label>
                    <p><input type="submit" class="mybutton" value="Enviar"></input></p> 
                </div>
            </form>
        </div>
    </div>

  </body>
</html>