<html class="no-js" lang="en">

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/img/logo_less.png" />
    <title>archivos</title>
    <link rel="stylesheet" href="/stylesheets/foundation.css" />
    <link rel="stylesheet" href="/stylesheets/app.css" />
    <link rel="stylesheet" href="/stylesheets/navbar.css" />
  </head>

  <body style="background-color: #f2f2f2;">
    
    <% var isAdmin = true %>
    <% include partials/navbar %>

    <div class="main">

      <div class="header">Archivos</div>
      <ul class="pdfList" style="width: 600px; margin: auto;">
        <% pdfs.forEach(function(pdf, index) {%>
        <li>
          <p><a href="/archivos/<%= pdf %>"><%= pdf %></a> &mdash; <a href="/pdfTemp/<%= pdf %>" download>Descargar</a></p>
        </li>
        <% }); %>
      </ul>

    </div>

  </body>
</html>