<html class="no-js" lang="es" ng-app="arch">

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/img/logo_less.png" />
    <title>archivos</title>
    <link rel="stylesheet" href="/stylesheets/foundation.css" />
    <link rel="stylesheet" href="/stylesheets/app.css" />
    <link rel="stylesheet" href="/stylesheets/navbar.css" />
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-75871722-1', 'auto');
      ga('send', 'pageview');

    </script>

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js"></script>
    <script src="js/arch.js"></script>
  </head>

  <body style="background-color: #f2f2f2;" ng-controller='MainCtlr'>
    
    <% currPage = 'admin' %>
    <% var isAdmin = true %>
    <% include partials/navbar %>

    <div class="main">

      <div class="header" style="padding-bottom: 5px;">Archivos</div>
      
      <a href="/admin" style="float: left; color: #0187e0 !important; padding-bottom: 10px;">&#9001 &nbsp Subir un tema</a>
      
      <table>
        <thead>
          <tr>
            <th ng-repeat="h in sortHeaders">
              <a href="#" ng-click="tSort($index)" style="color: #0187e0 !important;">
                {{ h.display }} <span ng-show="sortType == h.name"><span ng-show="!sortReverse">&#9660</span><span ng-show="sortReverse">&#9650</span></span>
              </a>
            </th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="a in archivos | orderBy: sortType: sortReverse">
            <td ng-repeat="h in sortHeaders">
              {{ a[h.name] }}
            </td> 
            <td>
              <a href="/archivos/{{ a.temaPath }}" style="color: #0187e0 !important;">Ver</a>
            </td>
            
          </tr>
        </tbody>
      </table>

    </div>

    <script>
      var archivos = <%- JSON.stringify(archivos) %>
    </script>

  </body>
</html>