<html class="no-js" lang="en">

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/img/logo_less.png" />
    <title>Compartir Temas</title>
    <link rel="stylesheet" href="/stylesheets/foundation.css" />
    <link rel="stylesheet" href="/stylesheets/app.css" />
    <link rel="stylesheet" href="/stylesheets/navbar.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap-filestyle.min.js"> </script>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-75871722-1', 'auto');
  ga('send', 'pageview');

</script>
  </head>

  <body style="background-color: #f2f2f2;">
    <% currPage = "CT" %>
    <% include partials/navbar %>

    <div class="main" style="text-align: center;">

    <div class="header" style="padding-bottom: 0px;">
      Compartir Temas
    </div>

    <div class="row">
        <div class="small-5 small-centered medium-7 medium-centered large-7 large-centered columns">

            <form id="CT" action="javascript: sendData()" target="_self" onsubmit="" enctype="multipart/form-data">
                <div class="row column log-in-form" style="margin-top: 15px; text-align: left;">
                  <h4>Información Personal</h4>
                  <label><h6>Nombre</h6>
                      <input type="text" name="nombre" id="nombre" placeholder="">
                  </label>
                  <label><h6>Correo electrónico</h6>
                      <input type="text" name="correo" id="correo" placeholder="">
                  </label>
                  <label><h6>Nombre de la escuela</h6>
                      <input type="text" name="escuelaNombre" id="escuelaNombre" placeholder="">
                  </label>
                  <label><h6>Dirección de la escuela</h6>
                      <input type="text" name="direccion" id="direccion" placeholder="">
                  </label>
                  <label><h6>Puesto en la escuela</h6>
                      <input type="text" name="puesto" id="puesto" placeholder="">
                  </label>

                  <h4>El Tema</h4>
                  <label><h6>Nombre del tema</h6>
                      <input type="text" name="temaNombre" id="temaNombre" placeholder="">
                  </label>
                  <label><h6>Disciplina</h6>
                    <p class="subheader">Español, Matemáticas, Historia, Ciencias</p>
                      <input type="text" name="disciplina" id="disciplina" placeholder="">
                  </label>
                  <label><h6>Competencias</h6>
                    <p class="subheader">Ej. Leer con sentido, etc.</p>
                      <input type="text" name="comps" id="comps" placeholder="">
                  </label>
                  <label><h6>Descripcion</h6>
                      <textarea rows="2" name="descript" id="descript" placeholder=""></textarea>
                  </label>

                  <label><h6>Subir tema &mdash; <a href="" download><p>ejemplo</p></a></h6>
                    <p class="subheader">Para subir un tema, el documento debe incluir:</p>
                    <ol class="subheader" style="margin-bottom: 15px; margin-left: 20px">
                      <li>Introducción (Breve introducción al tema, propósitos específicos, preguntas de orientación)</li>
                      <li>El desafío (el reto)</li>
                      <li>El guíon</li>
                    </ol>
                      <input type="file" class="filestyle" data-buttonText="Elija archivo" name="tema" id="tema" data-buttonName="button" data-iconName="glyphicon glyphicon-inbox" data-placeholder="Ningún file" style="display:inline;"> 
                  </label>

                  <label><h6>Materiales de apoyo</h6>
                      <input type="file" class="filestyle" data-buttonText="Elija archivo" name="apoyo" id="apoyo" data-buttonName="button" data-iconName="glyphicon glyphicon-inbox" data-placeholder="Ningún file" style="display:inline;"> 
                  </label>
                  
                  <label><h6 class="test">Ejemplo de registro del tutor &mdash; <a href="" download><p>ejemplo</p></a></h6>
                      <input type="file" class="filestyle" data-buttonText="Elija archivo" name="tutor" id="tutor" data-buttonName="button" data-iconName="glyphicon glyphicon-inbox" data-placeholder="Ningún file" style="display:inline;"> 
                  </label>
                 
                  <label><h6 class="test">Ejemplo de registro del aprendiz &mdash; <a href="" download><p style="display: inline">ejemplo</p></a></h6>
                      <input type="file" class="filestyle" data-buttonText="Elija archivo" name="aprendiz" id="aprendiz" data-buttonName="button" data-iconName="glyphicon glyphicon-inbox" data-placeholder="Ningún file" style="display:inline;"> 
                  </label>
                  
                  <p><input type="submit" class="mybutton" value="Subir tema"></input></p> 
                </div>
            </form>
        </div>
    </div>

    <% var footerStyle = "position: relative" %>
    <% include partials/footer %>

    </div>

    <script type="text/javascript">
      function sendData(){
          var nombre = $('#nombre').val();
          var correo = $('#correo').val();
          var escuelaNombre = $('#escuelaNombre').val();
          var direccion = $('#direccion').val();
          var puesto = $('#puesto').val();
          var temaNombre = $('#temaNombre').val();
          var disciplina = $('#disciplina').val();
          var comps = $('#comps').val();
          var descript = $('#descript').val();
          var tema = $('#tema')[0].files[0];
          var apoyo = $('#apoyo')[0].files[0];
          var tutor = $('#tutor')[0].files[0];
          var aprendiz = $('#aprendiz')[0].files[0];

          var fields = [nombre, correo, escuelaNombre, direccion, puesto, temaNombre, disciplina, comps, descript]
          var testing = (nombre == "Testing")

          if (!testing) {

            var entries = [
              '30967365',
              '1383858647',
              '1700156111',
              '482774097',
              '1768614129',
              '809406638',
              '837674048',
              '19163486',
              '1511719233',
            ]

            var entryData = {}
            for (var i = 0; i < fields.length; i++) {
              var entryCode = 'entry.' + entries[i]
              entryData[entryCode] = fields[i]
            }
          
            $.ajax({
                url: "https://docs.google.com/forms/d/10n_zREEJmIzGhZOCgbDdjt5Mv61DilkwTCocwWOKJkE/formResponse",
                data: entryData,
                type: "POST",
                dataType: "xml",
                crossDomain: true,
                statusCode: {
                    0: function (){

                        //Success message
                    },
                    200: function (){

                        //Success Message
                    }
                }
            });

          }

          var formData = new FormData();
          formData.append('tema', tema);
          formData.append('apoyo', apoyo);
          formData.append('tutor', tutor);
          formData.append('aprendiz', aprendiz);
          formData.append('temaNombre', temaNombre)

          $.ajax({
              type: "POST",
              url: 'http://aprenderconinteres.org/CompartirTemas/',
              processData: false,
              contentType: false,
              data: formData,
              success: function () {
                
            }
          });

          return false;
          
          
      }
    </script>

  </body>
</html>