<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html class="no-js" lang="es" style="-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; font-size: 100%; box-sizing: border-box; color: #000 !important; box-shadow: none !important; text-shadow: none !important; height: 100%;">

  <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consultar</title>    
  </head>

  <body style="font-family: Avenir-Medium; font-weight: 400; box-sizing: inherit; line-height: 1.5; color: #000 !important; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; box-shadow: none !important; text-shadow: none !important; height: 100%; background-color: #f2f2f2; margin: 0; padding: 0;" bgcolor="#f2f2f2">


    <div class="row" style="box-sizing: inherit; max-width: 75rem; color: #000 !important; box-shadow: none !important; text-shadow: none !important; margin: 0 auto; padding: 0; overflow: hidden">
        
        <%= content %>
<br />
		<form id="ask" action="http://aprenderconinteres.org/email/<%= id %>" method="POST" enctype="application/x-www-form-urlencoded" style="box-sizing: inherit; color: #000 !important; box-shadow: none !important; text-shadow: none !important; margin: 0; padding: 0;">
		<p>(Escriba abajo para responder)</p>
			<label style="box-sizing: inherit; font-weight: 400; color: #000 !important; box-shadow: none !important; text-shadow: none !important; display: block; font-size: .875rem; line-height: 1.8; margin: 0;">
			    <textarea name="response" rows="5" placeholder="Escriba aquí para responder" style="width: 500px; overflow: auto; color: #000 !important; box-sizing: border-box; box-shadow: none !important; text-shadow: none !important; display: block; height: auto; border-radius: 0; transition: box-shadow .5s,border-color .25s ease-in-out; -webkit-appearance: none; -moz-appearance: none; min-height: 50px; max-width: 100%; font-style: normal; font-variant: normal; font-weight: normal; font-size: 1rem; line-height: normal; font-family: inherit; background-color: #fefefe; margin: 0 0 1rem; padding: .5rem; border: 1px solid #cacaca;"></textarea>
			</label>
			<input name="expOrNot" value="<%= expOrNot %>" style="display:none !important;" />
			<p style="text-rendering: optimizeLegibility; line-height: 1.6; box-sizing: inherit; font-size: inherit; color: #000 !important; box-shadow: none !important; text-shadow: none !important; orphans: 3; widows: 3; margin: 0 0 1rem; padding: 0;"><input type="submit" class="button" value="Enviar" style="border-radius: 3px; font-size: 14px; font-face: Avenir-Light; width: 72px; height: 32px; vertical-align: middle; color: #ffffff !important; font-style: normal; line-height: 1; font-weight: normal; font-variant: normal; -webkit-appearance: button; cursor: pointer; box-sizing: inherit; text-align: center; box-shadow: none !important; text-shadow: none !important; display: inline-block; transition: background-color .25s ease-out,color .25s ease-out; -moz-appearance: none; background-color: #0187e0; margin: 0 0 1rem; padding: 5px; border: 1px solid #979797;"></p> 
		</form>

    </div>

    <p style=" font-size: 16px; font-family: Avenir-Roman; letter-spacing: 1.1px; color: #f25d53;"><img src="http://aprenderconinteres.org/img/logo2.png" style="display: inline; max-height: 14px;"> Aprender Con Interés A.C.</p>

</body>



</html>
