<html class="no-js" lang="en">

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/img/logo_less.png" />
    <title>404</title>
    <link rel="stylesheet" href="/stylesheets/foundation.css" />
    <link rel="stylesheet" href="/stylesheets/app.css" />
    <link rel="stylesheet" href="/stylesheets/navbar.css" />
  </head>

  <body style="background-color: #f2f2f2;">
    
    <% currPage = '' %>
    <% include partials/navbar %>

    <div class="main">

      <div class="header">Lo siento, esta página no existe</div>

       <% var footerStyle = "position: absolute; bottom: 0; margin: 25px; margin-bottom: 0"%>
      <% include partials/footer %>

    </div>

  </body>
</html>