<html class="no-js" lang="en">

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404</title>
    <link rel="stylesheet" href="/stylesheets/foundation.css" />
    <link rel="stylesheet" href="/stylesheets/app.css" />
    <link rel="stylesheet" href="/stylesheets/navbar.css" />
  </head>

  <body style="background-color: #f2f2f2;">
    
    <% currPage = '' %>
    <% include partials/navbar %>

    <div class="main">

      <div class="header">Lo siento, esta página no existe</div>

       <div class="footer CEfoot"  style="position: absolute; bottom: 0; margin: 25px; margin-bottom: 0">
      <p style="font-face: Avenir-Roman; color: #f25d53; margin-bottom:0px;"> <img src="/img/logo2.png" style="width: 50px; height: 16px; margin-bottom: 5px; margin-right: 5px;"/>Aprender Con Interés A.C. </p>
      <p style="font-size: 10px;font-face: Helvetica-Light;">© 2016 Aprender Con Interes. All rights reserved.</p>
    </div>

    </div>

  </body>
</html>