<html class="no-js" lang="en">

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Login</title>
    <link rel="stylesheet" href="/stylesheets/foundation.css" />
    <link rel="stylesheet" href="/stylesheets/app.css" />
    <link rel="stylesheet" href="/stylesheets/navbar.css" />
  </head>

  <body style="background-color: #f2f2f2">

  	<% currPage = '' %>
  	<% include partials/navbar %>

	<div class="row">
  		<div class="medium-6 medium-centered large-4 large-centered columns">

		    <form action="/login" method="post">
		      	<div class="row column log-in-form" style="margin-top: 160px">
		        	<h4 class="text-center" style="margin-bottom: 15px; font-family: Avenir-Roman;">Log in for admin privileges</h4>
		        	<label>Name
		          		<input type="text" name="username">
		        	</label>
		        	<label>Password
		          		<input type="password" name="password">
		        	</label>
		        	<input name="remember_me" type="checkbox" value="yes"><label>Remember Me</label>
		        	<p><input type="submit" class="mybutton" value="Log In"></input></p> 
		      	</div>
	    	</form>

  		</div>
	</div>

</body>
</html>