<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mapeo Virtual</title>
    <link rel="stylesheet" href="/stylesheets/foundation.css" />
    <link rel="stylesheet" href="/stylesheets/navbar.css" />
    <link rel="stylesheet" href="/stylesheets/app.css" />
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>

  </head>

  <body ng-app = "myApp" style="background-color: #f2f2f2;">

    <% currPage = 'MV' %>
    <% include partials/navbar %>

    <div class="main">

      <div class="header" style="padding-bottom:0">
        Mapeo Virtual
      </div>

      <div class="dropdown">
        <button onclick="myFunction()" class="dropbtn mybutton">Añadirse al Mapa</button>
        <div id="myDropdown" class="dropdown-content" style="height: 653px">
          <div class="row">
            <div class="medium-6 medium-centered large-6 large-centered columns" style="margin: 15px; width:300px; padding-right: 0; margin-right: 0">
              <div style='height: 0px; width: 100%'>
                <img src="/img/x.png"  class="exit" style='width: 10px; position: relative; right: -316px; top: 0px; cursor: pointer;'/>
              </div>
              <form action="javascript: postContactToGoogle()" id="add" target="_self" onsubmit="" style="width: 300px;">
                  <div class="row column log-in-form" style="margin-top: 10px">
                    <label>Nombre
                        <input type="text" name="name" id="name">
                    </label>
                    <label>Correo Electrónico
                        <input type="text" name="email" id="email">
                    </label>
                    <label>Puesto
                        <input type="text" name="position" id="position">
                    </label>
                    <label>Nombre de la escuela
                        <input type="text" name="schoolName" id="schoolName">
                    </label>
                    <label>Dirección de la escuela
                        <input type="text" name="address" id="address">
                    </label>
                    <label>C.C.T.
                        <input type="text" name="CCT" id="CCT">
                    </label>
                    <label>Cuántos años llevan con la tutoría
                        <input type="text" name="years" id="years">
                    </label>
                    <p id="emptyData" style="display:none; color:white; font-family: Avenir-Roman;"> Por favor complete el formulario </p>
                    <ul class="cote" style="padding-top: 10px;">
                      <li style="padding:0px"><input type="submit" class="mybutton" value="Añadirse"></input></li>
                      <li style="padding:0px"><p onclick='reset()' style="padding: 5px 15px; cursor: pointer;">Cancelar</p></li>
                    </ul> 
                  </div>
              </form>
              <div id="formSent" style="display:none;">
                <p id="formSent" style="color:white; font-family: Avenir-Roman; padding-top: 8px;">¡Enviado! </p>

                <button onclick="reset()" class="mybutton">Okay</button>
              </div>
            </div>
        </div>
        </div>
      </div>


      <div style="text-align:center;">
        <iframe src="https://www.google.com/maps/d/u/0/embed?mid=zeqaYhvsiN2c.kIGvkBMiGkDs" width="924" height="600"></iframe>
      </div>
<!--
      <iframe src="https://docs.google.com/forms/d/1QfeyHiYV9ok-tl92GImsoGASU1dlqG2lhsw_plRCZcE/viewform?embedded=true" width="964" height="1200" style="margin:30px">Loading...</iframe>
-->

    <div class="footer">
      <p style="font-face: Avenir-Roman; color: #f25d53; margin-bottom:0px;"> <img src="/img/logo2.png" style="width: 50px; height: 16px; margin-bottom: 5px; margin-right: 5px;"/>Aprender Con Interés A.C. </p>
      <p style="font-size: 10px;font-face: Helvetica-Light;">© 2016 Aprender Con Interes. All rights reserved.</p>
    </div>

    </div>

    <script>
      /* When the user clicks on the button, 
      toggle between hiding and showing the dropdown content */
      function myFunction() {
          document.getElementById("myDropdown").classList.toggle("show");
      }

      // Close the dropdown menu if the user clicks outside of it
      window.onclick = function(event) {
        if ((!event.target.matches('.dropbtn') && !event.target.matches('input') && !event.target.matches('label') && !event.target.matches('div.row') && !event.target.matches('ul') && !event.target.matches('div.medium-6') && !event.target.matches('li') && !event.target.matches('p#emptyData') && !event.target.matches('p#formSent')) || event.target.matches('img.exit')) {

          var dropdowns = document.getElementsByClassName("dropdown-content");
          var i;
          for (i = 0; i < dropdowns.length; i++) {
            var openDropdown = dropdowns[i];
            if (openDropdown.classList.contains('show')) {
              openDropdown.classList.remove('show');
            }
          }
        }
      }

      function reset() {
        document.getElementById('add').reset();
        document.getElementById('add').style.display='initial'
        document.getElementById('formSent').style.display='none';
        document.getElementById('emptyData').style.display='none';
        document.getElementById('myDropdown').style.height='653px';
      }

    

    </script>

    <script type="text/javascript">
      function postContactToGoogle(){
          var name = $('#name').val();
          var email = $('#email').val();
          var position = $('#position').val();
          var schoolName = $('#schoolName').val();
          var address = $('#address').val();
          var CCT = $('#CCT').val();
          var years = $('#years').val();
          if (name !== 'testingtesting') {
            if ((name == '') || (email == '') || (position == '') || (schoolName == '') || (address == '') || (CCT == '') || (years == '')) {
              document.getElementById('emptyData').style.display='initial'
              document.getElementById('myDropdown').style.height='679px'
              return false;
            }
          
            $.ajax({
                url: "https://docs.google.com/forms/d/1QfeyHiYV9ok-tl92GImsoGASU1dlqG2lhsw_plRCZcE/formResponse",
                data: {"entry.1194689800" : name, "entry.1776167168" : email, "entry.2018236782": position, "entry.1726408884": schoolName, "entry.718549540": address, "entry.859306530": CCT, "entry.500026241": years},
                type: "POST",
                dataType: "xml",
                crossDomain: true,
                statusCode: {
                    0: function (){

                        document.getElementById('add').style.display='none'
                        document.getElementById('formSent').style.display='initial'
                        document.getElementById('myDropdown').style.height='120px'
                        //Success message
                    },
                    200: function (){
                        document.getElementById('add').style.display='none'
                        document.getElementById('formSent').style.display='initial'
                        document.getElementById('myDropdown').style.height='120px'
                        //Success Message
                    }
                }
            });
          } else {
            document.getElementById('add').style.display='none'
            document.getElementById('formSent').style.display='initial'
            document.getElementById('myDropdown').style.height='120px'
          }

          return false;
          
          
      }
    </script>

  </body>
</html>