<html class="no-js" lang="es">

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/img/logo_less.png" />
    <title>Mapeo Virtual</title>
    <link rel="stylesheet" href="/stylesheets/foundation.css" />
    <link rel="stylesheet" href="/stylesheets/navbar.css" />
    <link rel="stylesheet" href="/stylesheets/app.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-75871722-1', 'auto');
      ga('send', 'pageview');

    </script>
    <script src='https://www.google.com/recaptcha/api.js?hl=es'></script>
  </head>

  <body style="background-color: #f2f2f2;">

    <% currPage = '/MapeoVirtual' %>
    <% include partials/navbar %>

    <% if (isAdmin) { %>
      <% include partials/downButton %>
    <% } %>

    <div class="main">

      <div class="header" style="padding-bottom:0">
        Mapeo Virtual
      </div>

      <div class="dropdown">
        <button onclick="myFunction()" class="dropbtn mybutton">Añadirse al Mapa</button>
        <div id="myDropdown" class="dropdown-content" style="height: 812px">
          <div class="row">
            <div class="medium-6 medium-centered large-6 large-centered columns" style="margin: 15px; width:300px; padding-right: 0; margin-right: 0">
              <div style='height: 0px; width: 100%'>
                <img src="/img/x.png"  class="exit" style='width: 10px; position: relative; right: -316px; top: 0px; cursor: pointer;'/>
              </div>
              <form action="javascript: postContactToGoogle()" id="add" target="_self" onsubmit="" style="width: 300px;">
                  <div class="row column log-in-form" style="margin-top: 10px">
                    <div id="emptyData" style="display:none;">
                      <p id="missing" style="color: #FFFFFF; font-family: Avenir-Roman; font-size: 14px; margin-bottom: 5px !important"><img id="missIMG" src="/img/error.png" style="height: 14px; width: 14px; margin-bottom: 3px"> Por favor complete los espacios en rojo</p>
                    </div>
                    <label><span style="color: #ff0000"></span>Nombre
                        <input type="text" name="name" id="name">
                    </label>
                    <label>Correo Electrónico
                        <input type="text" name="email" id="email">
                    </label>
                    <label>Puesto
                        <input type="text" name="position" id="position">
                    </label>
                    <label>Nombre de la escuela
                        <input type="text" name="schoolName" id="schoolName">
                    </label>
                    <label>Tipo de escuela
                        <input type="text" name="tipo" id="tipo">
                    </label>
                    <label>Dirección de la escuela
                        <input type="text" name="address" id="address">
                    </label>
                    <label>C.C.T.
                        <input type="text" name="CCT" id="CCT">
                    </label>
                    <label>Cuántos años llevan con la tutoría
                        <input type="text" name="years" id="years">
                    </label>
                    <div class="g-recaptcha" data-sitekey="6LeICCITAAAAAExoI467aojF380Uk9TXF3z2dHA7"></div>
                    <ul class="cote" style="padding-top: 15px;">
                      <li style="padding:0px"><input type="submit" class="mybutton" value="Añadirse"></input></li>
                      <li style="padding:0px"><p onclick='reset()' style="padding: 5px 15px; cursor: pointer;">Cancelar</p></li>
                    </ul> 
                  </div>
              </form>
              <div id="formSent" style="display:none;">
                <p id="formSent" style="color:white; font-family: Avenir-Roman; padding-top: 8px;">¡Enviado! </p>

                <button onclick="reset()" class="mybutton">Okay</button>
              </div>
            </div>
        </div>
        </div>
      </div>


      <div style="text-align:center;">
        <iframe src="https://www.google.com/maps/d/u/0/embed?mid=zeqaYhvsiN2c.kIGvkBMiGkDs" width="924" height="600"></iframe>
      </div>

    <% var footerStyle = '' %>
    <% include partials/footer %>

    </div>

    <script>
      /* When the user clicks on the button, 
      toggle between hiding and showing the dropdown content */
      function myFunction() {
          document.getElementById("myDropdown").classList.toggle("show");
      }

      // Close the dropdown menu if the user clicks outside of it
      window.onclick = function(event) {
        if ((!event.target.matches('.dropbtn') && !event.target.matches('input') && !event.target.matches('label') && !event.target.matches('div.row') && !event.target.matches('ul') && !event.target.matches('div.medium-6') && !event.target.matches('li') && !event.target.matches('p#missing') && !event.target.matches('p#formSent') && !event.target.matches('#emptyData') && !event.target.matches('img#missIMG')) || event.target.matches('img.exit')) {

          var dropdowns = document.getElementsByClassName("dropdown-content");
          var i;
          for (i = 0; i < dropdowns.length; i++) {
            var openDropdown = dropdowns[i];
            if (openDropdown.classList.contains('show')) {
              openDropdown.classList.remove('show');
            }
          }
        }
      }

      function reset() {
        document.getElementById('add').reset();
        document.getElementById('add').style.display='initial'
        document.getElementById('formSent').style.display='none';
        document.getElementById('emptyData').style.display='none';
        document.getElementById('myDropdown').style.height='733px';
      }

    

    </script>

    <script type="text/javascript">
      function postContactToGoogle(){
          var name = $('#name').val();
          var email = $('#email').val();
          var position = $('#position').val();
          var schoolName = $('#schoolName').val();
          var tipo = $('#tipo').val();
          var address = $('#address').val();
          var CCT = $('#CCT').val();
          var years = $('#years').val();
          
          if (name !== 'testingtesting') {
            if ((name == '') || (schoolName == '') || (address == '')) {
              var array = [name, schoolName, address];
              var IdArray = ['name', 'schoolName', 'address']
              for (var i = 0; i < array.length; i++) {
                if (array[i] == '') {
                  document.getElementById(IdArray[i]).style.border='2px solid #ff0000'
                } else {
                  document.getElementById(IdArray[i]).style.border='1px solid rgb(202, 202, 202)'
                }
              }
              
              document.getElementById('emptyData').style.display='initial'
              document.getElementById('myDropdown').style.height='843px'
              return false;
            }

            var recaptcha = $("#g-recaptcha-response").val();
              if (recaptcha === "") {
                alert('Por favor, revisa el "reCAPTCHA"');
              } else {
                $.ajax({
                  url: "http://aprenderconinteres.org/MapeoVirtual",
                  data: {'g-recaptcha-response': recaptcha},
                  type: "POST",
                  dataType: "xml",
                  statusCode: {
                    200: function(){
                      $.ajax({
                        url: "https://docs.google.com/forms/d/1QfeyHiYV9ok-tl92GImsoGASU1dlqG2lhsw_plRCZcE/formResponse",
                        data: {"entry.1194689800" : name, "entry.1776167168" : email, "entry.2018236782": position, "entry.1726408884": schoolName, "entry.1866376389": tipo, "entry.718549540": address, "entry.859306530": CCT, "entry.500026241": years},
                        type: "POST",
                        dataType: "xml",
                        crossDomain: true,
                        statusCode: {
                            0: function (){

                                document.getElementById('add').style.display='none'
                                document.getElementById('formSent').style.display='initial'
                                document.getElementById('myDropdown').style.height='120px'
                                //Success message
                            },
                            200: function (){
                                document.getElementById('add').style.display='none'
                                document.getElementById('formSent').style.display='initial'
                                document.getElementById('myDropdown').style.height='120px'
                                //Success Message
                            }
                        }
                      });
                    },
                    401: function(){
                      alert('Lo siento, se falló el "reCAPTCHA"')
                    }
                  }
                });

              }
          
            
          } else {
            document.getElementById('add').style.display='none'
            document.getElementById('formSent').style.display='initial'
            document.getElementById('myDropdown').style.height='120px'
          }

          return false;
          
      }
    </script>

  </body>
</html>