<style type="text/css">
  .header {
    background: #8a8a8a;
  }
  .header .columns {
    padding-bottom: 0;
  }
  .header p {
    color: #fff;
    padding-top: 15px;
  }
  .header .wrapper-inner {
    padding: 20px;
  }
  .header .container {
    background: transparent;
  }
  h1 {
    font-weight: normal !important;
  }
  table.button.facebook table td {
    background: #3B5998 !important;
    border-color: #3B5998;
  }
  table.button.twitter table td {
    background: #1daced !important;
    border-color: #1daced;
  }
  table.button.google table td {
    background: #DB4A39 !important;
    border-color: #DB4A39;
  }
  .wrapper.secondary {
    background: #f3f3f3;
  }

</style>

<wrapper class="header">
  <container>
    <row class="collapse">
      <columns small="6">
        
        
      </columns>
    </row>
  </container>
</wrapper>

<container>

  <spacer size="16"></spacer>
  
  <row>
    <columns small="12">
      
      <p class="lead">!Hola Aron y Izzy! Hay una nueva presentación en la pagina <%= page %>.</p>
      
    </columns>
  </row>
  
  <wrapper class="secondary">

    <spacer size="16"></spacer>

    <row>
      <columns large="6">
        <p style=" font-size: 16px; font-family: Avenir-Roman; letter-spacing: 1.1px; color: #f25d53;"><img src="http://aprenderconinteres.org/img/logo2.png" style="display: inline; max-height: 14px;"> Aprender Con Interés A.C.</p>
      </columns>
    </row>
    
  </wrapper>
  
</container>