<html class="no-js" lang="en">

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/img/logo_less.png" />
    <title>Relación Tutoria</title>
    <link rel="stylesheet" href="/stylesheets/foundation.css" />
    <link rel="stylesheet" href="/stylesheets/app.css" />
    <link rel="stylesheet" href="/stylesheets/navbar.css" />
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-75871722-1', 'auto');
      ga('send', 'pageview');

    </script>
  </head>

  <body>

    <div class="kid" style="text-align: center">
      <img src="/img/pic.png" />
      
    </div>

    <% currPage = '/RelacionTutora' %>
    <% include partials/navbar %>

    <% if (isAdmin) { %>
      <% include partials/downButton %>
    <% } %>

    <div class="main2">
      <div class="bluetext">
        <p style="opacity: 1">La filosofía de la relación tutora parte de la premisa de que todos tenemos la capacidad de aprender y enseñar y con base en ello promueve el aprendizaje individualizado mediante relaciones uno a uno entre tutor y tutorado.
      </div>

    </div>

    <div class="main">
      
      <div class="greytext">
        <p class="RThead">El Desafío</p>
        <p>La perspectiva del grupo considera que el desafío educativo es más humano que técnico, de relaciones personales, de confianza en la capacidad de todos para enseñar y aprender, de recuperar en la educación formal las condiciones en que, desde la infancia y lo largo de la vida, se aprende y comparte en sociedad.</p>
        <p>Si la condición básica para aprender es seguir el propio interés –más que el ajeno–, esforzarse y recibir comprensión y apoyo de quienes más saben, es claro que lo que hay que cambiar en educación básica es el desgano con que, en muchas ocasiones, se enseña y aprende.</p>
        <p>Más alarmante que los bajos índices de rendimiento escolar o los de deserción temprana es estimar el desperdicio de quienes por años enseñan y aprenden sin verdadero interés, sin experimentar satisfacción interior por lo que logran ni aplauso por lo que muestran públicamente.</p>
        <p class="RThead">El Remedio</p>
        <p>El remedio tiene que recomponer la relación educativa para dar lugar al encuentro entre personas que tienen interés en aprender.</p>
        <p>El cambio tendrá lugar en la unidad mínima del sistema, en el encuentro de maestro y estudiantes y de éstos entre sí. Las reformas implementadas –nuevos programas y textos, mejor equipamiento, introducción de tecnologías de información y comunicación, mejor planeación, etcétera– han hecho su aporte, por lo que ahora:</p>
        <p>Hay que insistir en transformar el núcleo de la práctica educativa, la relación entre maestros y estudiantes que se comprometen a aprender temas de educación básica.</p>
        <p class="RThead">Nuestro Modelo</p>
        <p>Redes de Tutoría descubrió en la relación tutora el medio asequible a cualquier maestro y grupo de estudiantes para establecer relaciones personales en las que se cumpliera el axioma central de hacer que coincida el interés del que aprende con la capacidad del que enseña.</p>
        <p>Lo que define la relación tutora es un acuerdo entre quien posee una competencia concreta y quien desea adquirirla.</p>
        <p>El efecto de la relación tutora es transformar el salón de clase convencional en una comunidad de aprendizaje en la que todos son capaces de enseñar y aprender; en la que la docencia deja de ser limitada –reducida a la persona del maestro- y se expande en la red de maestros y estudiantes que enseñan y aprenden en relaciones personales. La red se recrea en cada nodo en el que un tutor apoya a un aprendiz, para después este aprendiz hacerse tutor de otros aprendices.</p>
        <p>El efecto mediato de la red de tutoría es escalar el alcance del servicio manteniendo la calidad y la equidad. Socialmente la red propicia una ciudadanía más informada, solidaria y segura de su poder personal –el recurso mejor distribuido en el mundo por ser patrimonio común de las personas.</p>
      </div>
      <div class="whitetext">
        <div class="header" style="font-size: 30px; padding: 10px; padding-bottom: 5px;">
          Estrategia
        </div>
        <img class="icon1" src="/img/estrategia_01.png" />
        <p style="font-size:20px; font-family:Avenir-medium; color: #2977c2; margin-bottom: 10px;">El Interés</p>
        <p style="width: 800px">El acuerdo básico entre quienes participan en Comunidades de Aprendizaje es que el maestro ofrezca a sus estudiantes solo aquellos temas que domina por haberlos estudiado en profundidad y que cada estudiante elija el que más le interese. Una vez que un estudiante elige su tema de estudio, inicia una línea individual de investigación. A lo largo del proceso, el maestro funge como tutor del estudiante.</p>

      </div>
      <div class="bbluetext">
        <img class="icon2" src="/img/estrategia_02.png" />
        <p style="font-size:20px; font-family:Avenir-medium; margin-bottom: 10px; margin-top: 5px;">El Diálogo</p>
        <p style="width: 960px">El acuerdo básico entre quienes participan en Comunidades de Aprendizaje es que el maestro ofrezca a sus estudiantes solo aquellos temas que domina por haberlos estudiado en profundidad y que cada estudiante elija el que más le interese. Una vez que un estudiante elige su tema de estudio, inicia una línea individual de investigación. A lo largo del proceso, el maestro funge como tutor del estudiante.</p>
      </div>
      <div class="whitetext">
        <img class="icon3" src="/img/estrategia_03.png" />
        <p style="font-size:20px; font-family:Avenir-medium; color: #2977c2; margin-bottom: 10px; margin-top: 0px;">El Dominio</p>
        <p style="width: 820px">Al concluir su tema, el estudiante prepara una demostración pública en la que presenta al grupo lo que aprendió y expone la manera en que lo hizo. Finalmente, se espera que el estudiante se convierta en tutor de otros interesados en aprender el tema que ahora domina; de esta forma, al enseñar a otros, 
        los estudiantes refuerzan y enriquecen sus aprendizajes.</p>
      </div>
      <div class="redtext">
        <img class="icon4" src="/img/estrategia_04.png" />
        <p style="font-size:20px; font-family:Avenir-medium; margin-bottom: 10px; margin-top: 5px;">El Patrimono Común</p>
        <p style="width: 980px">La relación tutora es semejante al método de partera que caracterizaba al diálogo que Sócrates (mayéutica) establecía con sus interlocutores para llevarlos a descubrir el conocimiento que ellos mismos poseían. Con base en los conocimientos previos del estudiante y a través del planteamiento de preguntas, el tutor orienta al aprendiz para que encuentre sus propias respuestas y profundiza en las áreas que requieren mayor.</p>
      </div>
      <div class="whitetext2">
        <img class="icon5" src="/img/estrategia_05.png" />
        <p style="font-size:20px; font-family:Avenir-medium; color: #2977c2; margin-bottom: 10px;">Una Transformación Total</p>
        <p style="width: 535px; font-family:Avenir-light">Al concluir su tema, el estudiante prepara una demostración pública en la que presenta al grupo lo que aprendió y expone la manera en que lo hizo. Finalmente, se espera que el estudiante se convierta en tutor de otros interesados en aprender el tema que ahora domina; de esta forma, al enseñar a otros, los estudiantes refuerzan y enriquecen sus aprendizajes.</p>
      </div>
    </div>

    <div class="footer">
      <p style="font-face: Avenir-Roman; color: #f25d53; margin-bottom:0px;"> <img src="/img/logo2.png" style="width: 50px; height: 16px; margin-bottom: 5px; margin-right: 5px;"/>Aprender Con Interés A.C. </p>
      <p style="font-size: 10px;font-face: Helvetica-Light;">© 2016 Aprender Con Interes. All rights reserved.</p>
    </div>
  </body>
</html>