<html class="no-js" lang="en">

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/img/logo_less.png" />
    <title>upload</title>
    <link rel="stylesheet" href="/stylesheets/foundation.css" />
    <link rel="stylesheet" href="/stylesheets/app.css" />
    <link rel="stylesheet" href="/stylesheets/navbar.css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap-filestyle.min.js"> </script>
  </head>

  <body style="background-color: #f2f2f2;">
    
    <% include partials/navbar %>

    <div class="main" style="width: 700px">

      <div class="header">Upload (other)</div>
      
      <form id="upload" action="/uploadSupport" method="POST" enctype="multipart/form-data">
          <div class="row column log-in-form" style="margin-top: 25px">
              
              <label style="display: inline; padding-bottom: 200px; z-index: 2">File to upload
                  <input type="file" class="filestyle" data-buttonText="Elija archivo" name="upload" id="upload" data-buttonName="button" data-iconName="glyphicon glyphicon-inbox" data-placeholder="Ningún file" style="display:inline;"> 
              </label>
              <div style="height: 100px">
              </div>
              <p><input type="submit" class="mybutton" value="Enviar"></input></p> 
          </div>
      </form>
     

    </div>

    

  </body>
</html>