body {
   font-family: Avenir-Roman;
}

h2, h4, h6 {
	font-family: Avenir-Roman;
}

h4 {
	font-size: 20px !important;
}

h6 {
	margin-bottom: 0;
	font-size: 16px !important;
}

.subheader {
	margin: 0;
	color: #4a4a4a;
	font-size: 12px;
}

input.form-control {
	width: 100% !important;
}

.close {
	float: right;
}

.modal-dialog, .modal-sm {
	margin-top: 100px !important;
}

.filestyle {
	margin: 0;
	height: 0;
}

.group-span-filestyle {
	position: relative;
	bottom: 55.5px;
	float: right;
	transition: background-color 0.25s ease-out, color 0.25s ease-out;
    color: #ffffff; 
    background-color: #3a9ad9 !important;
    border-radius: 3px;
    font-size: 14px;
    font-family: Avenir-Roman;
    border: 0;
    margin: 0;
}

.button {
    background-color: #3a9ad9 !important;
}

.button:hover {
	background-color: #1583cc !important;
    color: #ffffff;
}

label.btn.button {
	margin: 0;
}

.btn {
	border-radius: 3px !important;
}

.input-group {
	display: inline !important;
}

.mainTitle{
	text-align: center;
	font-size: 48px;
	font-family: Avenir-Roman;
	letter-spacing: 1.1px;
	color: #f25d53;
	padding: 80px;
}

#pages li {
display:inline-block;
font-size: 14px;
	font-family: Avenir-Medium;
	letter-spacing: 0.8px;
	line-height: 20px;
	color: #4a4a4a;
}

.MainLink {
	color: #4a4a4a;
	transition: color 0.25s ease-out;
}

.MainLink:hover {
	color: #000000 !important;
}

.indexMain {
	margin: auto;
	margin-top: 1px;
	width: 1024px;
	height: auto;
	background-color: #f2f2f2;
	
}

.mainIcon {
	height: 130px;
	width: 130px;
	margin-bottom: 15px;
}

a:hover .mi1 {
	opacity: 0;
}

.mi2 {
	z-index: -1;
}

.mi1 {
	position: absolute;
	opacity: 1;
    transition: opacity 0.25s ease-out;
}

a p { text-decoration: none; color:#0187e0; }


.kid {
	margin: auto;
	margin-top: 2px;
	width: 1024px;
	height: 1px;
	position: relative;
	z-index: -1;
}

.bluetext {
	margin: 30px;
	padding: 8px 33px;
	width: 534px;
	height: 174px;
	opacity: 0.9;
	background-color: #3a9ad9;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.5);
	text-align: center;
	position: relative;


	font-size: 20px;
	font-family: Avenir-Light;
	color: #ffffff;
}

.RTHead {
	color: #2977c2;
	font-family: Avenir-Roman;
	font-size: 18px;
	margin-bottom: 10px;
}

.greytext {
	padding: 35px;
	width: 100%;
	height: auto;
	border-style: solid;
	border-color: #ccc;
	border-width: 1.5px 0 1.5px 1.5px;

	opacity: 0.999999;
	background-color: #f2f2f2;
	box-shadow: inner 0 0 3px 0 rgba(0, 0, 0, 0.5);
	font-size: 16px;
	font-family: Avenir-Book;
	color: #000;
	position: relative;
	z-index: 1;
}

.icon1 {
	float:right;
	width: 159px;
	height:147px;
	margin-top: 23px;
}

.icon2 {
	float:left;
	width: 172px;
	height:169px;
	margin-top: 14px;
	margin-right: 30px;
}

.icon3 {
	float:right;
	width: 218px;
	height:131px;
	margin-top: 36px;
}

.icon4 {
	float:left;
	width: 190px;
	height:139px;
	margin-top: 57px;
	margin-right: 30px;
}

.icon5 {
	float:right;
	width: 423px;
	height:63px;
	margin-top: 72px;
}

.whitetext {
	padding: 20px 25px 5px 35px;
	width: 100%;
	height: auto;
	background-color: #ffffff;
	box-shadow: inner 0 0 3px 0 rgba(0, 0, 0, 0.5);
	font-size: 16px;
	font-family: Avenir-Book;
	color: #000;
}

.whitetext2 {
	padding: 20px 15px 5px 35px;
	width: 100%;
	height: auto;
	background-color: #ffffff;
	box-shadow: inner 0 0 3px 0 rgba(0, 0, 0, 0.5);
	font-size: 16px;
	font-family: Avenir-Book;
	color: #000;
}

.bbluetext {
	padding: 13px 20px 5px 20px;
	width: 100%;
	height: auto;
	background-color: #3a9ad9;
	box-shadow: inner 0 0 3px 0 rgba(0, 0, 0, 0.5);
	font-size: 16px;
	font-family: Avenir-Book;
	color: #ffffff;
}

.redtext {
	padding: 13px 20px 5px 20px;
	width: 100%;
	height: auto;
	background-color: #f25d53;
	box-shadow: inner 0 0 3px 0 rgba(0, 0, 0, 0.5);
	font-size: 16px;
	font-family: Avenir-Book;
	color: #ffffff;
}

.top-bar {
	padding: 0px;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
	position: relative;
	z-index:1;
}

li a {
	font-size: 14px;
	font-family: Avenir-Medium;
	letter-spacing: 0.3px;
	color: #9b9b9b;
}

.Apr {
	height: 60px;
	width: 60px;
	padding-top: 0px;
}

.main {
	margin: auto;
	width: 1024px;
	height: auto;
	background-color: #f2f2f2;
}

.main2 {
	margin: auto;
	width: 1024px;
	height: auto;
	z-index: 2;

    position:relative;
}

.grid {
	width: 250px;
	height: 215px;
	background-color: #ffffff;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
	transition: box-shadow 0.25s ease-out,
} 

.grid:hover {
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.75);
} 

.grid:hover .topOfGrid  { background-color: #E74B40; color: #1f1f1f;}

.grid:hover .gridMain { color: #2f2f2f;}

.grids {
	height: 100%;
	width: 100%;
	position: relative;
	z-index: -1;
	padding-left: 20px;
}

.topOfGrid {
	width: 250px;
	height: 65px;
	background-color: #f25d53;
	font-size: 18;
	text-align: center;
	transition: background-color 0.25s ease-out, color 0.25s ease-out;
}

.gridMain {
	height:150px;
	width:250px;
	padding:10px;
	background-color: #ffffff;
	transition: background-color 0.25s ease-out, color 0.25s ease-out;
}

.header {
	padding: 25px;
	font-size: 24px;
	text-align: center;
	font-family: Avenir-Medium;
}

.tabordion {
  display: block;
  margin: auto;
  position: relative;
  width: 100%;
}

.tabordion input[name="sections"] {
  left: -9999px;
  position: absolute;
  top: -9999px;
}

.tabordion section {
  display: block;
}

.tabordion section label {
  text-align: center;
  cursor: pointer;
  display: block;
  color: #D7EAF7;
  padding: 10px 15px;
  margin-bottom: 20px;
  position: relative;
  width: 150px;
  z-index:100;
  font-size: 18px;
  transition: color 0.15s ease-out;
}

.tabordion section label:hover {
	color: #ffffff !important;
}

.blueBar {
	width: 150px;
	background-color: #3a9ad9;
	margin-left: 8px;
}

.tabordion section article {
	height:100%;
  display: none;
  left: 160px;
  min-width: 300px;
  padding: 0 0 0 0px;
  position: absolute;  
  top: 0;
  z-index: 2;
}

.tabordion section article:after {
  background-color: #3a9ad9;
  bottom: 0;
  height:100%;
  content: "";
  display: block;
  left: -152px;
  position: absolute;
  top: 0;
  width: 150px;
  z-index:1;
}

.tabordion input[name="sections"]:checked + label { 

  background: #75B8E4;
  color: #fff;
  cursor: default;
}

.tabordion input[name="sections"]:checked ~ article {
  display: block;
}

.footer {
	margin: auto;
	margin-top: 20px;
	width: 975px;
	text-align: center;
	border-top: solid 1px #d1d1d1;
	padding: 15px;

}

@media (max-height: 500px) {                  
   .temp {
      display: none;
   }
}



/* Dropdown Button */
.dropbtn {
	font-size: 14px;
	font-family: Avenir-Medium;
	line-height: 20px;
	color: #0187e0;
	border: none;
    cursor: pointer;
    margin-left: 52px;
    margin-bottom: 14px;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    color: #0087c0;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	margin-left: 50px;
    display: none;
    position: absolute;
    background-color: #727272;
    min-width: 370px;
    opacity: 0.97;
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.2);
    height: 640px;
    z-index:1;
}

.dropdown label {
	color: #f2f2f2;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.slicktab {
	background-color: #ffffff;
	width: 770px;
	margin: auto;
	margin-top: 10px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
	height: 284px;
	display: flex;
}

.slickprevnext {
	color: #f25d53; 
	font-size: 32px;
	font-weight: bold;
	margin: auto; 
	display: block; 
	position:absolute; 
	top: 122px;
}

.cote {
	list-style-type: none;
	overflow: hidden;
	margin-bottom: 25px;

}

.cote li {
	float: left;
	color: #ffffff;
	display: inline;
	border-radius: 3px;
	font-size: 14px;
	font-family: Avenir-Roman;
	padding: 8px;
	padding-bottom: 6px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.cote2 {
	list-style-type: none;
	overflow: hidden;
	margin-bottom: 10px;

}

.cote2 li {
	float: left;
	color: #ffffff;
	display: inline;
	border-radius: 3px;
	font-size: 14px;
	font-family: Avenir-Roman;
	padding: 8px;
	padding-bottom: 6px;
	margin-right: 10px;
	margin-bottom: 10px;
	width: auto;
}

.mybutton {
	transition: background-color 0.25s ease-out, color 0.25s ease-out;
    color: #ffffff; background-color: #3a9ad9;
    border-radius: 3px;
    font-size: 14px;
    font-family: Avenir-Roman; padding: 5px 15px;
    margin-bottom: 10px;
    border: 0;

}

.mybutton:hover, .mybutton:focus {
    background-color: #1583cc;
    color: #ffffff;
 }

ul.pdfList li a:visited {
	color: #0187e0
}

ul.pdfList li p a {
	font-size: 18px; 
	font-family: Avenir-Medium;
	color: #0187e0;
}
