body {
   font-family: Avenir-Roman;
}

.top-bar {
	padding: 0px;
}

li a {
	font-size: 14px;
	font-family: Avenir-Medium;
	letter-spacing: 0.3px;
	color: #9b9b9b;
}

.main {
	margin: auto;
	margin-top: 2px;
	width: 1024px;
	height: auto;
	background-color: #f2f2f2;
}

.grid {
	width: 250px;
	height: 200px;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
}

.grids {
	height: 300px;
	width: 800px;
}

.topOfGrid {
	width: 250px;
	height: 50px;
	background-color: #f25d53;
	font-size: 18;
	text-align: center;
}

.header {
	padding: 25px;
	font-size: 24px;
	text-align: center;
	font-family: Avenir-Medium;
}

.tabordion {
  display: block;
  margin: auto;
  position: relative;
  width: 100%;
}

.tabordion input[name="sections"] {
  left: -9999px;
  position: absolute;
  top: -9999px;
}

.tabordion section {
  display: block;
}

.tabordion section label {
  text-align: center;
  cursor: pointer;
  display: block;
  color: #fff;
  padding: 20px 20px;
  position: relative;
  width: 150px;
  z-index:100;
  font-size: 18px;
}

.tabordion section article {
  display: none;
  left: 160px;
  min-width: 300px;
  padding: 0 0 0 21px;
  position: absolute;  
  top: 0;
}

.tabordion section article:after {
  background-color: #3a9ad9;
  bottom: 0;
  content: "";
  display: block;
  left: -152px;
  position: absolute;
  top: 0;
  width: 150px;
  z-index:1;
}

.tabordion input[name="sections"]:checked + label { 

  background: #75B8E4;
  color: #fff;
}

.tabordion input[name="sections"]:checked ~ article {
  display: block;
}
