.item {
	position: absolute;
	left: 0;
	top: 0;
	opacity: 1;
}

.drag {
	opacity: .5;
}

.over {
	box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 1);
}

.over .topOfGrid  { background-color: #E74B40; color: #1f1f1f;}

.over .gridMain { color: #2f2f2f;}

.todrag {
	-khtml-user-drag: element;
}