<% if (down) { word = "down"; color = "red" } else { word = "up"; color = "green" } %>

<div style="position: fixed; right: 20px; bottom: 20px; box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5); background: #ffffff">
	<p style="display: inline"> Esta pagina está</p> <p style="display: inline; color: <%= color %>"><%= word %></p>
	<form action="/down" method="POST" style="display: inline">
    	<input type="hidden" name="page" value="<%= currPage %>"/>
    	<input type="submit" class="mybutton" value="Toggle" style="display: inline"></input>
	</form>
</div>