<div style="position: absolute; right: 100px; top: 100px">
  <form action="/down" method="POST">
    <input type="hidden" name="page" value="<%= downPage %>"/>
    <input type="submit" class="mybutton" value="Toggle"></input>
  </form>
</div>