<nav class="top-bar" data-topbar>
	<section class="top-bar-section">
		<ul class="vertical medium-horizontal menu">
			<li class="divider"></li>
			<li class="Apr">
				<a href="/"><img src="/img/logo_less.png"  style='width: 36px;'/></a>
			</li>
			<li class="divider"></li>
			<li>
				<a href="/RelacionTutora" <% if (currPage=='/RelacionTutora') { %>class='inactiveLink'<% } %>>RELACIÓN TUTORA</a>
			</li>
			<li class="divider"></li>
			<li>
				<a href="/MapeoVirtual" <% if (currPage=='/MapeoVirtual') { %>class='inactiveLink'<% } %> >MAPEO VIRTUAL</a>
			</li>
			<li class="divider"></li>
			<li>
				<a href="/CatalogoDeOfertas" <% if (currPage=='/CatalogoDeOfertas') { %>class='inactiveLink'<% } %> >CATÁLOGO DE OFERTAS</a>
			</li>
			<li class="divider"></li>
			<li>
				<a href="/CompartirTemas" <% if (currPage=='/CompartirTemas') { %>class='inactiveLink'<% } %> >COMPARTIR TEMAS</a>
			</li>
			<li class="divider"></li>
			<li><a href="/CompartirExperiencias" <% if (currPage=='/CompartirExperiencias') { %>class='inactiveLink'<% } %> >COMPARTIR EXPERIENCIAS</a>
			</li>
			<li class="divider"></li>
			<li><a href="/Noticias" <% if (currPage=='/Noticias') { %>class='inactiveLink'<% } %> >Noticias</a>
			</li>
			<li class="divider"></li>
			<% if (isAdmin) { %>
			<li><a href="/admin" <% if (currPage=='admin') { %>class='inactiveLink'<% } %> >ADMIN</a>
			</li>
			<li class="divider"></li>
			<% } %>
		</ul>
	</section>
</nav>